// nav-om -large sizes
.nav-om {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  gap: 48px;
  z-index: 1;

  @include sm {
    justify-content: unset;
  }

  @include md {
    gap: 15px;
  }

  @include dir {
    gap: 20px;
  }

  .close-button__,
  .nav_logo__ {
    display: none;
  }

  .nav-list-om {
    display: flex;
    margin-bottom: 0;
    gap: 50px;

    @include md {
      gap: 20px;
    }

    @include dir {
      gap: 10px;
    }

    &.small_size_only__ {
      display: none;

      @include sm {
        display: flex;
        flex-direction: column;
      }
    }

    > li {
      cursor: pointer;

      > a {
        font-size: 1.6rem;
        font-weight: 400;
        color: $headingSecondaryColor;
        display: flex;
        align-items: center;
        gap: 0.64rem;
        text-transform: capitalize;
        text-decoration: none;
        padding: 0;
        position: relative;
        margin: 0;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;

        .icon__ {
          flex-shrink: 0;
        }

        &:hover {
          color: $secondaryColor;
        }
      }
      
      &.active {
        a {
          color: $secondaryColor !important;
          font-weight: 700;

          .icon__ {
            position: relative;
  
            &::before {
              position: absolute;
              content: '';
              height: 5px;
              width: 16px;
              background-color: $secondaryColor;
              bottom: -12px;
              left: 50%;
              transform: translateX(-50%);

              @include sm {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

// nav-om  sm - xs size
@include sm {
  .nav-om {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    z-index: 1111;
    padding: 20px;
    transition: 0.5s;
    overflow-y: auto;
    display: block;
    padding-top: 90px;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .nav_logo__ {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      max-width: 150px;
    }

    .close-button__ {
      display: block;
    }

    @include dir {
      left: -100%;
      right: unset;
    }

    &.active-menu {
      right: 0;

      @include dir {
        left: 0;
        right: unset;
      }
    }

    .nav-list-om {
      display: block;
      order: 3;
      width: 100%;
      margin: 0;

      gap: 0;

      @include dir {
        margin: 0;
        padding: 0;
      }

      > li {
        > a {
          padding: 10px 25px;
          margin: 0;
          align-items: center;

          &::after {
            content: none;
            display: none;
          }

          @include dir {
            margin: 0;
          }

          &:hover {
            background-color: transparent;
          }
        }

        &:nth-child(odd) {
          > a {
            background-color: rgba($secondaryColor, 0.2);
          }
        }
      }
    }
  }
}
