.header_search_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  border-radius: $mainBorderRadius;
  border: 1px solid rgba($secondaryColor, 0.2);
  height: 48px;
  padding: 0 22px;

  @include md {
    width: fit-content;
  }

  @include sm {
    min-width: 100%;
  }
  
  
  .search_input__{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
    color: $secondaryColor;
    font-weight: 300;
    padding: 0 10px;

    &::placeholder {
      opacity: 1;
      transition: 0.5s;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }

  }
}