.lang_link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.6rem;
  padding: 10px 0;
  transition: 0.5s;
  z-index: 10;
  height: 42px;
  width: 42px;
  min-height: 42px;
  min-width: 42px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgba($secondaryColor, 0.11);

  
  &:hover {
    background-color: $secondaryColor;

    .icon__ {
      filter: invert(79%) sepia(15%) saturate(1080%) hue-rotate(353deg) brightness(138%) contrast(87%);
    }
  }

  // &::after {
  //   content: url(../images/shapes/arrow_down.svg);
  //   margin-inline-start: 5px;
  // }

  // @include sm {
  //   color: #fff;
  //   filter: brightness(0) invert(1);
  // }
}
