.toolbar_options__ {
  .logged_in__ {
    position: relative;
    border: 1px solid rgba($secondaryColor, 0.57);
    border-radius: 50%;
    
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      border: 2px solid rgba($secondaryColor, 0.16);
      border-radius: 50%;
    }

    .profile_link__ {
      background-color: transparent !important;
      padding: 0.5rem;
      
      .figure__ {
        border-radius: 50%;
        overflow: hidden;
        min-width: 34px;
        aspect-ratio: 1 / 1;
        padding-bottom: 34px;
        filter: unset !important;
      }
      
      
      &:hover {
        .figure__ {
          filter: unset !important;
        }
      }
    }
    
    .dropdown_menu__ {
      width: 235px;

      .link__,
      .button__ {
        color: $secondaryColor;

        &:hover {
          color: $primaryColor !important;

          &::before {
            filter: unset !important;
          }
        }

        &::before {
          margin-inline-end: 0.5rem;
        }

        &.profile__ {
          &::before {
            content: url(../images/shapes/info_dropdown_links_shapes/profile.svg);
          }
        }

        &.upgrade__ {
          &::before {
            content: url(../images/shapes/info_dropdown_links_shapes/upgrade.svg);
          }
        }

        &.products__ {
          &::before {
            content: url(../images/shapes/info_dropdown_links_shapes/products.svg);
          }
        }

        &.logout__ {
          &::before {
            content: url(../images/shapes/info_dropdown_links_shapes/logout.svg);
            margin-inline-start: -0.5rem;
            margin-inline-end: 1rem;
          }

          &:hover {
            background-color: $redColor !important;
            color: #fff !important;

            &::before {
              filter: brightness(0) invert(1) !important;
            }
          }
        }
      }
    }
  }
}