// .checkbox-om {
//     cursor          : pointer;
//     margin          : 0;
//     padding         : 0;
//     width           : 16px;
//     height          : 16px;
//     background-color: #fff;
//     border          : 1px solid #e8e8e8;
//     opacity         : 0.4;

//     &:checked {
//         opacity: 1;
//     }
// }

.checkbox-group-om {
  display: flex;
  align-items: center;

  .checkbox-om {
    opacity: 0 !important;
    visibility: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &:checked {
      +.checkbox-label-om {
        // background-color: $secondaryColor;
        border-color: $secondaryColor;
        background-image: url(../images/shapes/checkbox.svg);
      }

      ~ .label__ {
        color: $primaryColor;
      }
    }
  }

  .checkbox-label-om {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    background-position: center center;
    background-repeat: no-repeat;
    margin-inline-end: 6px;
    padding: 5px;
    flex-shrink: 0;
  }

  .label__ {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0;
    color: #fff;
    cursor: pointer;
  }
}