.chat_page {
  // height: 100dvh;

  .overlay__ {
    display: none;

    @include sm {
        display         : block;
        width           : 100%;
        height          : 100%;
        background-color: #000;
        position        : fixed;
        top             : 0;
        left            : 0;
        bottom          : 0;
        right           : 0;
        z-index         : 999;
        transition      : 0.5s;
        opacity         : 0;
        visibility      : hidden;

        &.active {
            opacity   : 0.7;
            visibility: visible;
        }
    }
}

  .chat_contacts__ {
    height: 75vh;

    @include sm {
      position: fixed;
      padding-top: 3rem;
      background-color: $secondaryColor;
      height: 100vh;
      width: 80%;
      top: 0;
      inset-inline-start: -100%;
      z-index: 1000;
      transition: 0.5s;
    }

    
    &.active {
      inset-inline-start: 0;
    }
  }
}