.hero_sec__ {
  // height: calc(100vh - 133px);
  padding: 65px 0 ;
  position: relative;
  overflow: hidden;

  @include sm {
    padding: 30px 0;
  }

  @include xs {
    padding: 20px 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 656px;
    height: 255px;
    transform: rotate(41deg);
    inset-inline-start: -250px;
    bottom: 0;
    border-radius: 55px;
    background-color: rgba($primaryColor , 0.1);
  }

  .hero_title__ {
    color: #fff;
    font-size: 4.7rem;
    font-weight: 700;
    line-height: 71px;
    margin-bottom: 2.9rem;

    @include sm {
      font-size: 3.2rem;
      line-height: 50px;
      text-align: center;
      width: 100%;
    }

    @include xs {
      font-size: 2.5rem;
      line-height: 40px;
    }
  }

  .hero_sub_title__ {
    color: rgba(#fff, 0.63);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 5.1rem;
    max-width: 304px;

    @include sm {
      max-width: 100%;
      text-align: center;
    }

    @include xs {
      text-align: center;
    }
  }

  .hero_img_wrapper__ {
    position: relative;
    padding: 30px 0;

    &::after,
    &::before {
      content: url('../images/shapes/hero_img_shape.svg');
      position: absolute;
      z-index: -1;
    }
    
    &::after {
      inset-inline-end: -50px;
      top: 0;
    }
    
    &::before {
      inset-inline-start: -100px;
      bottom: 0;
    }
  }
  
  .figure__ {
    padding-bottom: 100.746%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($primaryColor, 0.25);
    }
  }
}

.products_sec__ {
  position: relative;

  &::after {
    content: url(../images/product_sec_background.png);
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%);
    z-index: -1;
  }
}