.policy_page {
  .figure__ {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 2rem;
  }

  .main_parag__ * {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .parag__ * {
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphMainColor;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

