.real_estate_single_page {
  .product_main_slider__ {
    position: relative;

    .swiper {
      border-radius: $secondaryBorderRadius;
      overflow: hidden;
    }

    .figure__ {
      padding-bottom: 78.3582%;
      overflow: hidden;
    }
  }

  .product_thumbnails_slider__ {
    margin-top: 2rem;
    
    .figure__ {
      border-radius: $secondaryBorderRadius;
      overflow: hidden;
      padding-bottom: 76.84210%;
    }
    
    .swiper-wrapper {
      padding-bottom: 3rem;
    }

    .swiper-slide-thumb-active {
      position: relative;
      overflow: visible;
  
      .figure__ {
        border: 2px solid $primaryColor;
      }

      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        background-color: $primaryColor;
        width: 14px;
        height: 14px;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .slider_image_of_product__ {
    &.video_thumb__ {
      .figure__ {
        &::before {
          content: url('../images/shapes/thumb_video_play.svg');
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 10;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

    }
  }

  .head_wrapper__ {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .price__ {
    font-size: 2.4rem;
    margin: 1rem 0;
  }

  .parag__ {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }
}

.video__ {
  position: absolute;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}