.registeration_page__ {
  padding-top: 138px;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
  min-height: 50vh;

  @include sm {
    padding: 50px 0;
  }

  &::after ,
  &::before {
    position: absolute;
    z-index: -1;
  }

  &::after {
    content: url('../images//shapes/registeration_background_image_2.png');
    inset-inline-start: -420px;
    bottom: 0;
  }

  &::before {
    content: url('../images//shapes/registeration_background_image_1.png');
    inset-inline-start: -150px;
    top: 0;
  }
}

.registeration_image {
  max-width: 180px;
  max-height: 120px;
  margin: 0;

  @include sm {
    margin: 0 auto;
  }
}

.shape__ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  &::after ,
  &::before {
    content: '';
    position: absolute;
    width: 977px;
    border-radius: 60px;
  }

  &::after {
    background-color: $primaryColor;
    height: 352px;
    bottom: 158px;
    inset-inline-start: -940px;
    transform: rotate(-8deg);
  }

  &::before {
    background-color: $secondaryColor;
    height: 21px;
    inset-inline-start: -800px;
    bottom: 0;
  }

  &.inset_inline_end_shape__ {
    &::after {
      inset-inline-start: unset;
      inset-inline-end: -940px;
      transform: rotate(8deg);
    }
    
    &::before {
      inset-inline-start: unset;
      inset-inline-end: -800px;
    }
  }
}

.register_figure__ {
  margin-bottom: 50px !important;
}

.second_registration_title__{
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-inline-end: 1rem;
}

.form_label_for_info_group__ {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.code_shapes__ {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  direction: ltr;
  position: relative;
  width: 100%;
  margin-bottom: 26px;
  gap: 8px;

  .code-input {
    text-align: center;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid transparent;
    font-size: 3.3rem;
    font-weight: 700;
    color: $secondaryColor;
    font-family: sans-serif;
    outline: none;
    background-color: rgba(#fff, 0.1);
    caret-color: #fff;
    transition: 0.5s;

    &.active {
      background-color: #fff;
      color: $secondaryColor;
    }
  }
}

.count_down_wrapper__ {
  position: relative;
  width: fit-content;
  margin: 0 auto;

  svg {
    g {
      stroke-dasharray: 140 350;
      stroke-width: 3;
      stroke-linecap:round;
      stroke: #707070;
      fill: #fff;
      transition: 1s;

    }
  }

  .text__ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 1.2rem;
    font-weight: 400;
    color: $paragraphMainColor;
  }
}

.registeration_title_wrapper__ {
  margin-bottom: 45px;

  @include sm {
    margin-bottom: 25px;
  }

  @include xs {
    margin-bottom: 15px;
  }

  &.center {
    .registeration_title,
    .registeration_sub_title {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }

  // #########################################
  .registeration_title {
    font-size: 2.3rem;
    font-weight: 600;
    width: fit-content;
    color: $primaryColor;
    margin-bottom: 30px;

    @include sm {
      text-align: center;
      margin: 0 auto;
    }
    
    @include xs {
      font-size: 1.8rem;
    }
  
    &.none_margin {
      margin-bottom: 0;
    }
  
    &.small_margin_bottom__  {
      margin-bottom: 15px;
    }
  }
  
  .registeration_sub_title {
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphSecondaryColor;
    margin: 0;

    @include sm {
      text-align: center;
    }
    
    @include xs {
      font-size: 1.2rem;
    }
  }
}

.verification_mail_title__ {
  font-size: 1.6rem;
  font-weight: 300;
  color: $paragraphMainColor;
  text-align: center;
  direction: ltr;
  margin-top: 1rem;
  color: $primaryColor;
  font-weight: 700;
}

.registeration_image_wrapper__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  height: 100%;
}