.upgrade_page {
  .figure__ {
    width: 100%;
    max-width: 95px;
  }

  .upgrade_title_shape {
    font-size: 1.4rem;
    font-weight: 300;
    color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }

  &.with_packages {
    .figure__ {
      max-width: 135px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 5.5rem;
      width: fit-content;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: $primaryColor;
        filter: blur(50px);
        animation: blur 5s infinite;
      }

      &::after {
        top: 0;
        inset-inline-start: 0;
      }

      &::before {
        bottom: 0;
        inset-inline-end: 0;
      }
    }
  }
}

@keyframes blur {
  0% {
    filter: blur(50px);
    transform: scale(1) translateX(0);
  }

  50% {
    filter: blur(30px);
    transform: scale(1.5) translateX(10px);
  }

  100% {
    filter: blur(50px);
    transform: scale(1) translateX(0);
  }
}