.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: rgba($primaryColor, 1);
  border-radius: 50px 50px 0 0;
  padding-top: 50px;
  overflow: hidden;

  &:before {
    content: url(../images/shapes/footer_bg_shape.svg);
    position: absolute;
    inset-inline-start: -20px;
    bottom: -90px;
  }
}

.footer_logo__ {
  margin-bottom: 15px;
  max-width: 55px;
  max-height: 35px;

  @include xs {
    .figure__ {
      width: fit-content !important;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }
  }
}

.footer_head__ {
  font-size: 1.6rem;
  font-weight: 700;
  color: $secondaryColor;
  margin-bottom: 2.5rem;

  @include xs {
    text-align: center;
  }
}

.footer_list__ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 0 auto;
  column-gap: 40px;
  row-gap: 2rem;
  margin-bottom: 40px;
  padding: 0;

  @include xs {
    gap: 10px;
  }

  a {
    font-size: 1.4rem;
    font-weight: 400;
    color: $secondaryColor;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 1.5rem;

    &::before {
      content: "";
      width: 5px;
      height: 9px;
      background-color: $secondaryColor;
      transition: 0.5s;
    }

    &:hover {
      color: $secondaryColor;
      padding-inline-start: 10px;

      &::before {
        background-color: $secondaryColor;
      }
    }
  }
}

.footer_contacts_list__ {
  margin-bottom: 3rem;

  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(36px, 1fr));
  gap: 10px;

  @include xs {
    justify-content: center;
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    transition: 0.5s;
    background-color: rgba($secondaryColor, 0.04);
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 8px;

    img {
      filter: none;
      max-width: 14px;
      max-height: 14px;
    }

    &:hover {
      background-color: $secondaryColor;

      img {
        filter: invert(81%) sepia(32%) saturate(538%) hue-rotate(346deg)
          brightness(115%) contrast(97%);
      }
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  color: $secondaryColor;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  border: 0;
  border-top: 3px solid rgba($secondaryColor, 0.08);

  @include sm {
    padding: 20px 0;
    justify-content: center;
  }


  .copyright_icon__ {
    margin-inline-end: 5px;
  }
}
