@import "header/1_logo";
@import "header/2_navbar";
@import "header/3_toolbar_options";
@import "header/4_menu_button";
@import "header/5_dropdown";


.main_header__ {
  height: 133px;

  @include sm {
    height: 80px;
  }
}

.fixed_header__ {
  position: relative;
  z-index: 111;
  background-color: $primaryColor;
  padding: 35px 0;
  border-radius: 0 0 50px 50px;
  
  @include xs {
    border-radius: 0 0 30px 30px;
  }
  @include sm {
    padding: 10px;
  }

  &.active_menu__,
  &.not_active_menu__ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    transition: 0s;
  }

  &.active_menu__ {
    animation: active-menu 0.5s;
    box-shadow: 0 0 10px rgba(#000, 0.1);
  }

  &.not_active_menu__ {
    animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    top: -200px;
  }
}

.header_content__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
