.button__ {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  height: 46px;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;

  .icon__ {
    flex-shrink: 0;
    transition: 0.5s;
  }

  &.center {
    margin: 0 auto;
  }
  
  &.default_cursor {
    cursor: default !important;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }
  
  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.half_width__ {
    width: 50%;
  }

  &.filter_white_icon__ {
    .icon__ {
      filter: brightness(0) invert(1);
    }

    &:hover {
      .icon__ {
        filter: unset;
      }
    }
  }

  &.green_bg_button {
    background-color: $greenColor !important;
    border: 1px solid $greenColor !important;
    color: #fff;
    
    &:hover {
      background-color: transparent !important;
      color: $greenColor !important;
    }
  }

  &.red_bg_button {
    background-color: $redColor !important;
    border: 1px solid $redColor !important;
    color: #fff !important;
    margin: 0 !important;
    
    &:hover {
      background-color: transparent !important;
      color: $redColor !important;
    }
  }

  &.fixed_size__ {
    min-width: 183px;
    max-width: 183px;
  }
  
  &.second_fixed_width {
    min-width: 188px;
    max-width: 188px;

  }

  &.margin_start_auto__ {
    margin-inline-start: auto;
  }

  &.size_xl__ {
    width: 352px;
  }

  &.margin_top__ {
    margin-top: 40px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.small_margin_top__ {
    margin-top: 20px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.scale_icon_on_hover {
    &:hover {
      .icon__ {
        transform: scale(1.1);
      }
    }
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.main_color_button__ {
    background-color: $primaryColor;
    border-color: $primaryColor;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }
  
  &.secondary_color_button__ {
    background-color: $secondaryColor;
    border-color: $secondaryColor;

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }
  }

  &.bordered__ {
    background-color: #fff !important;

    &.main_color_button__ {
      color: $primaryColor !important ;
    }

    &.secondary_color_button__ {
      color: $primaryColor !important ;
    }
  }

  &.rounded__ {
    border-radius: $mainBorderRadius;
  }

  &.submit-button__,
  input[type="submit"] {
    height: 66px;
    color: $secondaryColor;
    padding: 0 20px;
    font-size: 1.7rem;
    font-weight: 700;
    background-color: $primaryColor;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.second_color_button__ {
    width: 168px;
    height: 46px;
    background-color: $secondaryColor;
    color: #fff;
    font-weight: 400;
    border-radius: $secondaryBorderRadius;
    border: 1px solid $secondaryColor;

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }

    &.bordered__ {
      background-color: transparent;
      color: $secondaryColor;

      &:hover {
        background-color: rgba($secondaryColor, 0.1);
      }
    }
  }

  &.header_add_button__ {
    color: $primaryColor;
  }

  &.add_to_fav__ {
    svg {
      path {
        transition: all 0.5s;
      }
    }

    &:focus,
    &.active {
      svg {
        path {
          fill: $redColor !important;
          stroke: $redColor !important;
        }
      }
    }

    &:hover {
      svg {
        path {
          fill: rgba(#fff , 0.2);
        }
      }
    }
  }

  &.comment_button__ {
    width: 50px;
    height: 50px;
    background-color: rgba(#fff , 0.13);
    border-radius: 50%;
    flex-shrink: 0;

    .icon__ {
      @include dir {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: rgba(#fff , 0.3);

    }
  }

  &.add_rating_button__ {
    background-color: rgba(#fff , 0.13);
    padding: 2rem 3.5rem;
    border-radius: $mainBorderRadius;
    height: 52px;
    font-size: 1.4rem;

    .arrow_icon__ {
      margin-inline-start: auto;
      filter: brightness(0) invert(1);
    }


    &:hover {
      background-color: rgba(#fff , 0.3);
    }
  }

  &.chat_delete__ {
    background-color: #462735;
    border: 2px solid transparent;
    border-radius: $mainBorderRadius;
    padding: 1.2rem 5.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    
    @include xs {
      padding: 1.2rem 2.2rem;
      
    .text__ {
        display: none;
      }
    }

    &:hover {
      background-color: rgba(#462735, 0.8);
    }
  }

  &.toggle_chat_contacts {
    font-size: 1.3rem;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: $mainBorderRadius;
    padding: 1rem 2rem;

  }

  &.close_chat_contacts,
  &.toggle_chat_contacts {
    display: none;

    @include sm {
      display: block;
    }
  }

  &.upgrade_card_button {
    background-color: #fff;
    height: 58px;
    border-radius: $mainBorderRadius;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 3rem;
    color: $primaryColor;

    &:hover {
      background-color: rgba(#fff, 0.9);
    }
  }

  &.edit_button__ {
    color: $secondaryColor;
    background-color: $primaryColor;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.delete_button__ {
    background-color: rgba($redColor , 0.17);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;

    &:hover {
      background-color: rgba($redColor , 0.3);
    }
  }
}
