// Montserrat Fonts
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Thin-250.otf");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-ExtraLight-275.otf");
  font-weight: 275;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Light-300.otf");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Regular-400.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Medium-500.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-SemiBold-600.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Bold-700.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-ExtraBold-800.otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Black-900.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}