.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  height: 46px;
  color: #fff;
  width: fit-content;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.center {
    margin: 0 auto;
  }

  &.center_sm {
    @include sm {
      margin: 0 auto;
    }
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    min-width: 140px;
  }

  &.text_black__ {
    color: $headingMainColor;
  }

  &.main_link {
    height: 46px;
    color: #fff;
    padding: 0 30px;
    font-size: 1.4rem;
    background: $primaryColor;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.main_color_link__ {
    background-color: $primaryColor;
    border-color: $primaryColor;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.secondary_color_link__ {
    background-color: $secondaryColor;
    border-color: $secondaryColor;

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }
  }

  &.bordered__ {
    background-color: #fff !important;

    &.main_color_link__ {
      color: $primaryColor !important ;
    }

    &.secondary_color_link__ {
      color: $primaryColor !important ;
    }
  }

  &.rounded__ {
    border-radius: $mainBorderRadius;
  }

  &.full_rounded__ {
    border-radius: 50%;
  }

  &.forgot_password_link__ {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem auto;

    &:hover {
      color: $primaryColor;
      text-decoration: underline;
    }
  }

  &.sign_up_link__ {
    color: $primaryColor;
    font-size: 1.4rem;
    font-weight: 400;
    width: fit-content;

    &:hover {
      color: $primaryColor;
      text-decoration: underline;
    }
  }

  &.header_link__ {
    height: 42px;
    width: 42px;
    background-color: rgba($secondaryColor, 0.11);

    &:hover {
      background-color: $secondaryColor;

      .icon__ {
        filter: invert(79%) sepia(15%) saturate(1080%) hue-rotate(353deg)
          brightness(138%) contrast(87%);
      }
    }
  }

  &.hero_link__ {
    height: 66px;
    width: 234px;
    font-size: 1.5rem;
    font-weight: 800;

    @include sm {
      height: 42px;
    }
  }

  &.profile_link__ {
    position: relative;

    .figure__ {
      padding-bottom: 20px;
      width: 20px;
    }

    &:hover {
      background-color: $secondaryColor;

      .figure__ {
        filter: invert(79%) sepia(15%) saturate(1080%) hue-rotate(353deg)
          brightness(138%) contrast(87%);
      }
    }

    &::after {
      content: url(../images/shapes/header_profile_arrow_down_white.svg);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondaryColor;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -9px;
      z-index: 2;
      // filter: invert(1);
      transition: 0.5s;
      border: 2px solid $primaryColor;
    }
  }

  &.footer_contact_link__ {
    width: 168px;
    background-color: transparent;
    color: $secondaryColor;
    gap: 6px;
    font-weight: 700;
    border-radius: $mainBorderRadius;
    padding: 0;
    height: fit-content;
    width: fit-content;

    @include xs {
      margin: 0 auto;
    }

    .footer_contact_text__ {
      direction: ltr;
      font-size: 1.4rem;
    }

    &:hover {
      color: $secondaryColor;
      padding-inline-start: 0.8rem;
    }
  }

  &.back_to_signin__ {
    color: #bdc1c2;
    font-size: 1.6rem;
    font-weight: 300;
    justify-content: center;
    margin: 1rem auto;

    .icon__ {
      @include dir {
        transform: rotate(180deg);
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.checkbox_commission_link__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;

    .icon__ {
      @include dir {
        transform: rotate(180deg);
      }
    }
    &:hover {
      color: $primaryColor;
      text-decoration: underline;
    }
  }

  &.rating_link__ {
    font-size: 1.4rem;
    color: $headingSecondaryColor;
    height: fit-content;

    .icon__ {
      @include dir {
        transform: rotate(180deg);
      }
    }

    &.white_color {
      color: #fff;

      .icon__ {
        filter: brightness(0) invert(1);
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.lessor_link__ {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;

    &:hover {
      background-color: $secondaryColor;

      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.change_password_link__ {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
    background-color: rgba($primaryColor, 0.1);
    margin-top: 3rem;
    height: 70px;
    justify-content: unset;
    padding: 2.3rem 3rem;
    border-radius: $thirdBorderRadius;

    .arrow_icon__ {
      margin-inline-start: auto;

      @include dir {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: rgba($primaryColor , 0.2);
    }
  }

  &.add_product__ {
    background-color: rgba(#fff, 0.1);
    padding: 1.3rem 3.5rem;
    border-radius: $mainBorderRadius;
    color: $primaryColor;
    font-size: 1.4rem;
    font-weight: 700;

    &:hover {
      background-color: rgba(#fff, 0.3);
    }
  }
}
