// =========================================
// Main colors
// =========================================
$primaryColor:  #EFC47F;
$secondaryColor: #222F35;

// =========================================
// Other Colors
// =========================================
$greyColor: #9B9B9B;
$greenColor: #00CC30;
$redColor: #F0053C;
$orangeColor: #EFB104;
$yellowColor: #E8C100;
$borderColor: rgba(#fff , 0.09);
$mainPageBackground: $secondaryColor;

// =========================================
// Input Styles
// =========================================
$inputPlaceholderColor: #fff;
$inputBackgroundColor: rgba(#fff , 0.1);
$inputHeight: 66px;
$inputFontSize: 1.4rem;
$inputGreyBackgroundColor: #F1F1F1;

// =========================================
// Brands Colors
// =========================================
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

// =========================================
// Teypgraphy
// =========================================
$mainFontFamily: 'Montserrat';

// =========================================
// Head colors
// =========================================
$headingMainColor: #fff;
$headingSecondaryColor: #222F35;
$headingThirdColor: #17355A;

// =========================================
// Paragraph Colors
// =========================================
$paragraphMainColor: rgba(#fff , 0.75);
$paragraphSecondaryColor: #9B9B9B;

// =========================================
//Border Radius
// =========================================
$mainBorderRadius: 33px;
$secondaryBorderRadius: 23px;
$thirdBorderRadius: 20px;

// =========================================
// Direction
// =========================================
$dir: "ltr";
