.chat_content__ {
  height: 75vh;
  // background-color: red;


  @include sm {
    height: 100dvh;
    padding-bottom: 10rem;
  }

  .chat_content_head__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }

  .card_head__ {
    background-color: transparent;
    border-radius: 0;
    // padding: 2rem;
    cursor: pointer;
    gap: 2rem;
    display: flex;

    .img_wrapper__ {
      position: relative;
      min-width: 50px;
      width: 50px;
      height: 50px;
    }

    .figure__ {
      border-radius: 50%;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .status__ {
      position: absolute;
      background-color: #9a9a9a;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      border: 2px solid $secondaryColor;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-left: auto;

      &.active {
        background-color: $greenColor;
      }
    }

    .time__ {
      font-size: 1.4rem;
      color: #fff;
      font-weight: 300;
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 16px;
        height: 16px;
        max-width: 16px;
        max-height: 16px;
      }
    }
  }

  .chat_content_body__ {
    height: 100%;
    background-color: rgba(#fff, 0.05);
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 0;
    border-radius: $mainBorderRadius;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include xs {
      padding: 2rem 1rem;
    }

    .messages_wrapper__ {
      padding-inline-end: 0.4rem;
    }

    .file_upload__ {
      margin-inline-end: 2rem;
      cursor: pointer;
    }
  }
}
