.chat_contact_card__ {
  background-color: transparent;
  border-radius: 0;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .img_wrapper__ {
    position: relative;
  }

  .status__ {
    position: absolute;
    background-color: #9A9A9A;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid $secondaryColor;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: auto;
    
    &.active {
        background-color: $greenColor;
    }
  }

  .time__ {
    img {
      width: 16px;
      height: 16px;
      max-width: 16px;
      max-height: 16px;
    }
  }


  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(#fff , 0.1);
  }
  
  &:hover {
    background-color: rgba(#fff , 0.05);
  }
}