.comments_form__ {
  margin-bottom: 3rem;
  
  .title__ {
    font-size: 1.8rem;
    font-weight: 500;
    color: $primaryColor;
    margin-bottom: 2rem;
  }

  &.chat_form__ {
    margin-top: auto;
    
    @include xs {
      margin-bottom: 0;
    }

    .comment_input__ {
      &::placeholder {
        color: $primaryColor;
      }
    }
  }
} 

.comment_wrapper__ {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem ;
  border-radius: $mainBorderRadius;
  background-color: rgba(#fff , 0.1);
  border : 1px solid transparent;


  .comment_input__ {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: #fff;
    padding: 0.5rem 2rem;

    &::placeholder {
      opacity: 1;
      transition: 0.5s;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &:focus-within {
    border-color: $primaryColor;
  }
}