.custom_heading {
  background-color: rgba(#fff, 0.1);
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: $mainBorderRadius;
  height: 39px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  border: 1px solid #fff;
  
}
