.filter_wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  gap: 15px;
  margin-bottom: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));

  // @include sm {
  //   margin-bottom: 60px;
  //   flex-direction: column;
  // }

  .filter_title__ {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;

    .icon__ {
      flex-shrink: 0;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(#fff , 0.19);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .filter_items {
    width: 100%;
  }
}