.lessor_card__ {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  border-radius: $mainBorderRadius;
  background-color: $primaryColor;
  padding: 2.3rem 1.6rem;

  @include xs {
    flex-direction: column;
  }

  &.with_margin_top {
    margin-top: 2.5rem;
  }
}