.lessor_info_wrapper__ {
  display: flex;
  gap: 1.5rem;

  .img_wrapper__ {
    min-width: 58px;
    max-width: 58px;
    border-radius: 50%;
  }

  .figure__ {
    width: 58px;
    height: 58px;
    max-width: 58px;
    max-height: 58px;
    border-radius: 50%;
    overflow: hidden;
  }

  .lessor_name__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingSecondaryColor;
  }

  &.white_text {
    .lessor_name__,
    .rating_count__ {
      color: #fff;
    }
  }
}
