.my_product_card {
  background-color: rgba(#fff, 0.1);
  padding: 2rem;
  border-radius: $mainBorderRadius;

  .card_head__ {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    gap: 1.5rem;
  }

  .img_wrapper__ {
    min-width: 97px;
  }

  .figure__ {
    padding-bottom: 88.659793%;
    border-radius: $thirdBorderRadius;
    overflow: hidden;
  }

  .title__ {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    display: block;
    margin-bottom: 0.8rem;
  }

  .location__ {
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.3rem;

    .icon__ {
      filter: brightness(0) invert(1);
      max-width: 16px;
      max-height: 16px;
    }
  }
}