.no_data__ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 10rem 0;

  .figure__ {
    width: 140px;
    height: 157px;
    max-width: 140px;
    max-height: 157px;
    min-width: 140px;
    min-height: 157px;
    margin-bottom: 2rem;
    overflow: hidden;
  }
}