.notification_card {
  padding: 2.4rem 0;

  .card_head__ {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.7rem;
  }

  .figure__ {
    max-width: 52px;
    max-height: 52px;
    min-width: 52px;
    min-height: 52px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(#fff , 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      filter: brightness(0) invert(1);
    }
  }

  .title {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
  }

  .time__ {
    font-size: 1.2rem;
    font-weight: 300;
    color: $paragraphMainColor;
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon__ {
      max-height: 16px;
      max-width: 16px;
      min-height: 16px;
      min-width: 16px;
    }
  }

  .parag {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    line-height: 1.8;
  }

  &.not_read {
    .card_head__ {
      .figure__ {
        background-color: $primaryColor;

        img {
          filter: none;
          transform: rotate(-30deg);
        }
      }
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(#fff , 0.1);
  }
}