.rating_wrapper__ {
  display: flex;
  align-items: center;
  gap: 1rem;

  @include xxs {
    flex-wrap: wrap;
  }

  &.yellow_color {
    .rating_count__,
    .star__ {
      color: $yellowColor !important;
    }
  }

  &.center {
    margin: 0 auto;
    width: fit-content;
  }

  &.margin_bottom {
    margin-bottom: 1rem;
  }
}

.rating__ {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  .star__ {
    color: #fff;
    font-size: 1.4rem;
  }
}

.rating_count__ {
  font-size: 1.4rem;
  font-weight: 700;
}
