.real_estate_card{
  padding: 33px 12px;
  padding-top: 0;
  margin-top: 60px;
  background-color: rgba(#fff , 0.1);
  border-radius: $secondaryBorderRadius;
  display: flex;
  flex-direction: column;
  // height: 100%;
  transition: 0.5s;

  .img_wrapper__{
    border-radius: $thirdBorderRadius;
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: -60px;
    position: relative;
  }

  .real_estate_status__ {
    position: absolute;
    top: 10px;
    inset-inline-start: 10px;
  }

  .figure__{
    @include p-bottom(199, 236);
  }

  .title__{
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    transition: 0.5s;
  }

  .fav_button_location__wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .location__{
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &:hover {
    background-color: rgba(#fff , 0.15);

    .title__{
      color: $primaryColor;
      text-decoration: none;
    }

    .img-om {
      transform: scale(1.1);
    }
  }
}