.real_estate_info__ {
  display: flex;
  align-items: center;
  gap: 6rem;

  @include xs {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }


  .info__ {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: rgba(#fff , 0.5);
    font-size: 1.4rem;


    .icon__ {
      max-width: 24px;
      max-height: 24px;
    }
  }
}