.real_estate_info_accordion {
  .accordion_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba($primaryColor, 0.5);
    padding: 1.5rem 2rem;
    border-radius: $mainBorderRadius $mainBorderRadius 0 0;
  }

  .icon__ {
    margin: 0;
  }

  .info_wrapper__ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 20px;
    padding: 1.5rem 2rem;
    border: 1px solid rgba($primaryColor, 0.5);
    border-radius: 0 0 $mainBorderRadius $mainBorderRadius;
    border-top: 0;
  }

  .info__ {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 1rem;
  }

  .title__ {
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(#fff, 0.5);
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &::before {
      content: "";
      width: 14px;
      height: 14px;
      background-color: $secondaryColor;
      border: 1px solid $primaryColor;
      border-radius: 50%;
      flex-shrink: 0;
    }
  }

  .value {
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
  }

  &.hide {
    .accordion_head {
      border-radius: $mainBorderRadius;
    }

    .info_wrapper__ {
      border-radius: $mainBorderRadius;
      opacity: 0;
    }
  }
}
