.upgrade_card {
  background-color: $primaryColor;
  border-radius: $mainBorderRadius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 2.4rem;

  .upgrade_card_title {
    font-size: 1.4rem;
    font-weight: 400;
    color: $headingSecondaryColor;
    margin-bottom: 1rem;
  }

  .upgrade_card_price {
    font-size: 1.8rem;
    font-weight: 700;
    color: $headingSecondaryColor;
    margin-bottom: 0;
  }
}