#uploaded_files {
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.uploaded_file {
  max-width: 66px;
  min-width: 66px;

  .figure__ {
    padding-bottom: 1rem;
    margin-bottom: 0.7rem;
    border-radius: 14px;
    overflow: hidden;
    padding-bottom: 99.6%;
    flex-shrink: 0 !important;
  }
}